header {
  z-index: 10;
}

.header {
  padding: 1.5rem 3rem;
  background-color: transparent;
  border-bottom: 1px solid;
  border-color: transparent;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    filter 0.01s linear 0.2s;

  &.invert {
    background-color: #fff;
    border-color: #000;
    filter: invert(1);
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }

  @include small-xs {
    padding: 1.25rem 1.5rem 1.25rem 1rem;
  }

 .d-none .d-sm-flex a:after{
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  background-color: rgba(242,100,96,.38);
  height: .5333333333em;
  width: 100%;
  z-index: 0;
  transition: .2s ease-in-out;
 }

  .logo-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include small-xs {
      position: static;
      transform: none;
    }
  }

  .logo {
    width: auto;
    height: 0.8rem;
  }

  .cart-count {
    right: -4px;
    top: -4px;
    max-width: 10px;
  }
}

.mobile-menu-inner {
  padding: 7rem 1.5rem;
}



.menu_one {
  padding: 0px;
}

.menu_one .btn_get {
  margin-left: 40px;
}


.sticky_logo img{
  display: block;
}
.sticky_logo img + img{
  display: none;
}

@media (min-width: 992px) {
  .mobile_btn {
    visibility: hidden;
    display: none;
  }
}



.menu_toggle {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: block;
}

.menu_toggle .hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
}

.menu_toggle .hamburger span {
  width: 0%;
  height: 2px;
  position: relative;
  top: 0;
  left: 0;
  margin: 4px 0;
  display: block;
  background: #84AC7E;
  border-radius: 3px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu_toggle .hamburger span:nth-child(1) {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.menu_toggle .hamburger span:nth-child(2) {
  -webkit-transition-delay: .125s;
  -o-transition-delay: .125s;
  transition-delay: .125s;
}

.menu_toggle .hamburger span:nth-child(3) {
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.menu_toggle .hamburger-cross {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}

.menu_toggle .hamburger-cross span {
  display: block;
  background: #84AC7E;
  border-radius: 3px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu_toggle .hamburger-cross span:nth-child(1) {
  height: 100%;
  width: 2px;
  position: absolute;
  top: 0;
  left: 10px;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.menu_toggle .hamburger-cross span:nth-child(2) {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.collapsed .menu_toggle .hamburger span {
  width: 100%;
}

.collapsed .menu_toggle .hamburger span:nth-child(1) {
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.collapsed .menu_toggle .hamburger span:nth-child(2) {
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.collapsed .menu_toggle .hamburger span:nth-child(3) {
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.collapsed .menu_toggle .hamburger-cross span:nth-child(1) {
  height: 0%;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.collapsed .menu_toggle .hamburger-cross span:nth-child(2) {
  width: 0%;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.header_area_two + section, .header_area_three + section {
  margin-top: 93px;
}

.h_dark {
  background: #13112d;
}

.header_area_three {
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.1);
  box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.1);
}

.header_area_three .menu_four .pl_30 {
  padding-left: 30px;
}

.header_area_three .menu_four .btn_get {
  border-color: #84AC7E;
  background: #84AC7E;
  color: #fff;
}

.header_area_three .menu_four .btn_get:hover {
  background: transparent;
  color: #84AC7E;
}

.header_area_three.navbar_fixed .menu_four .btn_get {
  border-color: #84AC7E !important;
}

.header_area_four .header_top {
  background: #13112d;
}

.header_area_four .header_top a {
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header_area_four .header_top a:hover {
  color: #84AC7E;
}

.header_area_four + section {
  margin-top: 144px;
}

.header_top {
  padding: 12px 0px;
}

.header_contact_info {
  margin-bottom: 0;
}

.header_contact_info li {
  display: inline-block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

.header_contact_info li:before {
  content: "";
  width: 1px;
  height: 12px;
  top: 1px;
  background: #5e5d76;
  display: inline-block;
  position: relative;
  margin: 0px 22px 0px 20px;
}

.header_contact_info li:first-child:before {
  display: none;
}

.header_contact_info li a {
  color: #c3c1da;
  font-weight: 300;
  padding-left: 5px;
}

.header_social_icon {
  text-align: right;
  margin-bottom: 0;
}

.header_social_icon li {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}

.header_social_icon li a {
  font-size: 12px;
  color: #fff;
}

.header_area_five .menu_one {
  padding: 0px 50px;
}

.header_area_six .header_top {
  border-bottom: 1px solid #e5ddfc;
}

.header_area_six .header_top a:hover {
  color: #84AC7E !important;
}

.header_area_six .header_top .header_contact_info li {
  color: #282835;
}

.header_area_six .header_top .header_contact_info li a {
  color: #677294;
}

.header_area_six .header_top .header_social_icon li a {
  color: #282835;
}

.header_area_six + section {
  margin-top: 144px;
}

.header_area_seven .header_top {
  background: #84AC7E;
  padding: 0px;
}

.header_area_seven .header_top a {
  line-height: 50px;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.header_area_seven .header_top a:hover {
  opacity: 1;
}

.header_area_seven .header_top .header_contact_info li i {
  vertical-align: middle;
}

.header_area_seven .header_top .header_contact_info li a {
  color: #fff;
}

.header_area_seven .header_top .header_social_icon {
  border-left: 1px solid #7444ff;
  padding-left: 22px;
  margin-left: 40px;
}

.header_area_seven .header_top .header_top_menu {
  text-align: right;
  margin-bottom: 0px;
}

.header_area_seven .header_top .header_top_menu li {
  display: inline-block;
}

.header_area_seven .header_top .header_top_menu li:before {
  content: "";
  width: 1px;
  height: 11px;
  background: #8e6bf7;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 17px 0px 15px;
}

.header_area_seven .header_top .header_top_menu li a {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #fff;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.header_area_seven .header_top .header_top_menu li:first-child:before {
  display: none;
}

.header_area_seven + section {
  margin-top: 118px;
}

.menu_poss .w_menu.search_cart .search a.nav-link {
  margin-left: 32px;
}

/*============ sticky menu css ==============*/
.header_area {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


.full_header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
}

.full_header .logo img {
  display: none;
}

.full_header .logo img + img {
  display: inline-block;
}

.full_header .bar_menu {
  cursor: pointer;
}

.full_header .bar_menu span {
  width: 36px;
  height: 2px;
  background: #fff;
  display: block;
}

.full_header .bar_menu span:not(:last-child) {
  margin-bottom: 7px;
}

.full_header .bar_menu span:nth-child(2) {
  width: 24px;
}

.full_header .bar_menu span:nth-child(3) {
  width: 30px;
}

.full_header.content-white .logo img {
  display: inline-block;
}

.full_header.content-white .logo img + img {
  display: none;
}



.header_footer {
  display: table-footer-group;
  padding-bottom: 80px;
}

.header_footer h5 {
  font-size: 16px;
  color: #fff;
}

.header_footer ul {
  margin-bottom: 40px;
}

.header_footer ul li {
  display: inline-block;
  margin-right: 6px;
}

.header_footer ul li a {
  width: 44px;
  height: 44px;
  border: 1px solid #656c82;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 44px;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header_footer ul li a:hover {
  background: #fff;
  border-color: #fff;
  color: #5f28fb;
}

.header_footer p {
  font-size: 16px;
  color: #858faf;
  margin-bottom: 100px;
}

.close_icon {
  position: absolute;
  right: 60px;
  top: 40px;
  color: #7b84a2;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.close_icon:hover {
  color: #fff;
}

.burger_menu {
  width: 40px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #051441;
  margin-left: 25px;
}

.side_menu_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(5, 20, 65, 0.9);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.8s ease .4s;
  transition: -webkit-transform 0.8s ease .4s;
  -o-transition: transform 0.8s ease .4s;
  transition: transform 0.8s ease .4s;
  transition: transform 0.8s ease .4s, -webkit-transform 0.8s ease .4s;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.side_menu_wrapper .side_menu {
  max-width: 545px;
  height: 100%;
  margin-left: auto;
  background: #fff;
  position: relative;
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}

.side_menu_wrapper .side_menu ul {
  margin-bottom: 0;
}

.side_menu_wrapper .side_menu .menu_top {
  padding: 60px 70px 0px;
}

.side_menu_wrapper .side_menu .menu_top .close {
  font-size: 20px;
}

.side_menu_wrapper .side_menu .m_content {
  position: absolute;
  left: 0px;
  top: 10vh;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 55vh;
  -webkit-overflow-scrolling: touch;
  font-weight: 600;
  width: 100%;
  display: block;
  letter-spacing: -.025rem;
  list-style: none;
  margin: 0;
  -webkit-transform: translateY(3rem);
  -ms-transform: translateY(3rem);
  transform: translateY(3rem);
  -webkit-transition: opacity .5s .6s ease,
 -webkit-transform .5s .6s ease;
  transition: opacity .5s .6s ease,
 -webkit-transform .5s .6s ease;
  -o-transition: transform .5s .6s ease,
 opacity .5s .6s ease;
  transition: transform .5s .6s ease,
 opacity .5s .6s ease;
  transition: transform .5s .6s ease,
 opacity .5s .6s ease,
 -webkit-transform .5s .6s ease;
  list-style: none;
  padding-left: 18%;
  padding-right: 100px;
  margin-top: 5vh;
}

.side_menu_wrapper .side_menu .m_content h2 {
  font-size: 3.5vh;
  line-height: 4vh;
  font-weight: 700;
  color: #051441;
  margin-bottom: 1vh;
}

.side_menu_wrapper .side_menu .m_content a {
  font-size: 2.5vh;
  font-weight: 500;
}

.side_menu_wrapper .side_menu .m_content p {
  font-size: 1.9vh;
  line-height: 2.9vh;
  color: #7e86a1;
  font-weight: 300;
  margin-top: 4vh;
  margin-bottom: 8.2vh;
}

.side_menu_wrapper .side_menu .get_info li .media img {
  margin-right: 20px;
  height: 5vh;
}

.side_menu_wrapper .side_menu .get_info li .media .media-body h4 {
  font-size: 2vh;
  font-weight: 600;
  margin-bottom: 0.5vh;
}

.side_menu_wrapper .side_menu .get_info li .media .media-body p {
  margin-bottom: 0vh;
  margin-top: 0.5vh;
  font-size: 1.8vh;
}

.side_menu_wrapper .side_menu .get_info li + li {
  margin-top: 2.9vh;
}

.side_menu_wrapper .side_menu .m_footer {
  position: absolute;
  left: 18%;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.side_menu_wrapper .side_menu .m_footer li a {
  font-size: 20px;
  color: #959ebb;
  font-size: 16px;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #959ebb;
  display: inline-block;
  margin: 0px 5px;
  line-height: 50px;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.side_menu_wrapper .side_menu .m_footer li a:hover {
  background: #5f28fb;
  border-color: #5f28fb;
  color: #fff;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(95, 40, 251, 0.3);
  box-shadow: 0px 20px 20px 0px rgba(95, 40, 251, 0.3);
}

.menu-is-opened .side_menu_wrapper {
  z-index: 100;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  transition: -webkit-transform .7s ease .2s;
  -webkit-transition: -webkit-transform .7s ease .2s;
  -o-transition: transform .7s ease .2s;
  transition: transform .7s ease .2s;
  transition: transform .7s ease .2s, -webkit-transform .7s ease .2s;
}

.menu-is-opened .side_menu_wrapper .side_menu {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s 0.6s linear;
  transition: -webkit-transform 0.5s 0.6s linear;
  -o-transition: transform 0.5s 0.6s linear;
  transition: transform 0.5s 0.6s linear;
  transition: transform 0.5s 0.6s linear, -webkit-transform 0.5s 0.6s linear;
}

/*================= menu_scroll css ================*/
.menu_scroll .container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}


