// ################# //
// ## MuiRoot ## //
// ################# //

.CommercialBackdrop-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: -1;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
  }
  .CommercialBackdrop-invisible {
    background-color: transparent;
  }


// ################# //
// ## MuiPaper ## //
// ################# //


.CommercialPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}
.CommercialPaper-rounded {
  border-radius: 4px;
}
.CommercialPaper-outlined {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.CommercialPaper-elevation0 {
  box-shadow: none;
}
.CommercialPaper-elevation1 {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation2 {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation3 {
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation4 {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation5 {
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation6 {
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation7 {
  box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2),0px 7px 10px 1px rgba(0,0,0,0.14),0px 2px 16px 1px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation8 {
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation9 {
  box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.2),0px 9px 12px 1px rgba(0,0,0,0.14),0px 3px 16px 2px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation10 {
  box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2),0px 10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation11 {
  box-shadow: 0px 6px 7px -4px rgba(0,0,0,0.2),0px 11px 15px 1px rgba(0,0,0,0.14),0px 4px 20px 3px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation12 {
  box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation13 {
  box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 13px 19px 2px rgba(0,0,0,0.14),0px 5px 24px 4px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation14 {
  box-shadow: 0px 7px 9px -4px rgba(0,0,0,0.2),0px 14px 21px 2px rgba(0,0,0,0.14),0px 5px 26px 4px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation15 {
  box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation16 {
  box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation17 {
  box-shadow: 0px 8px 11px -5px rgba(0,0,0,0.2),0px 17px 26px 2px rgba(0,0,0,0.14),0px 6px 32px 5px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation18 {
  box-shadow: 0px 9px 11px -5px rgba(0,0,0,0.2),0px 18px 28px 2px rgba(0,0,0,0.14),0px 7px 34px 6px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation19 {
  box-shadow: 0px 9px 12px -6px rgba(0,0,0,0.2),0px 19px 29px 2px rgba(0,0,0,0.14),0px 7px 36px 6px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation20 {
  box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 20px 31px 3px rgba(0,0,0,0.14),0px 8px 38px 7px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation21 {
  box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 21px 33px 3px rgba(0,0,0,0.14),0px 8px 40px 7px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation22 {
  box-shadow: 0px 10px 14px -6px rgba(0,0,0,0.2),0px 22px 35px 3px rgba(0,0,0,0.14),0px 8px 42px 7px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation23 {
  box-shadow: 0px 11px 14px -7px rgba(0,0,0,0.2),0px 23px 36px 3px rgba(0,0,0,0.14),0px 9px 44px 8px rgba(0,0,0,0.12);
}
.CommercialPaper-elevation24 {
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
}

// ################# //
// ## MuiDialog ## //
// ################# //

@media print {
  .CommercialDialog-root {
    position: absolute !important;
  }
}
.CommercialDialog-scrollPaper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.CommercialDialog-scrollBody {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
.CommercialDialog-scrollBody:after {
  width: 0;
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.CommercialDialog-container {
  height: 100%;
  outline: 0;
}
@media print {
  .CommercialDialog-container {
    height: auto;
  }
}
.CommercialDialog-paper {
  margin: 32px;
  position: relative;
  overflow-y: auto;
}
@media print {
  .CommercialDialog-paper {
    box-shadow: none;
    overflow-y: visible;
  }
}
.CommercialDialog-paperScrollPaper {
  display: flex;
  max-height: calc(100% - 64px);
  flex-direction: column;
}
.CommercialDialog-paperScrollBody {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.CommercialDialog-paperWidthFalse {
  max-width: calc(100% - 64px);
}
.CommercialDialog-paperWidthXs {
  max-width: 444px;
}
@media (max-width:507.95px) {
  .CommercialDialog-paperWidthXs.CommercialDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}
.CommercialDialog-paperWidthSm {
  max-width: 600px;
}
@media (max-width:663.95px) {
  .CommercialDialog-paperWidthSm.CommercialDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}
.CommercialDialog-paperWidthMd {
  max-width: 960px;
}
@media (max-width:1023.95px) {
  .CommercialDialog-paperWidthMd.CommercialDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}
.CommercialDialog-paperWidthLg {
  max-width: 1280px;
}
@media (max-width:1343.95px) {
  .CommercialDialog-paperWidthLg.CommercialDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}
.CommercialDialog-paperWidthXl {
  max-width: 1920px;
}
@media (max-width:1983.95px) {
  .CommercialDialog-paperWidthXl.CommercialDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}
.CommercialDialog-paperFullWidth {
  width: calc(100% - 64px);
}
.CommercialDialog-paperFullScreen {
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
  max-height: none;
  border-radius: 0;
}
.CommercialDialog-paperFullScreen.CommercialDialog-paperScrollBody {
  margin: 0;
  max-width: 100%;
}



// ################# //
// ## MuiTitle ## //
// ################# //


.CommercialDialogTitle-root {
    flex: 0 0 auto;
    margin: 0;
    padding: 16px 24px;
  }

  
// ################# //
// ## MuiContent ## //
// ################# //

.CommercialDialogContent-root {
    flex: 1 1 auto;
    padding: 8px 24px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .CommercialDialogContent-root:first-child {
    padding-top: 20px;
  }
  .CommercialDialogContent-dividers {
    padding: 16px 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .CommercialDialogContent-root {
  flex: 1 1 auto;
  padding: 8px 24px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.CommercialDialogContent-root:first-child {
  padding-top: 20px;
}
.CommercialDialogContent-dividers {
  padding: 16px 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}


// ################# //
// ## MuiDialogActions ## //
// ################# //


.CommercialDialogActions-root {
    flex: 0 0 auto;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
  }
  .CommercialDialogActions-spacing > :not(:first-child) {
    margin-left: 8px;
  }

  
  // ################# //
// ## MuiTouchRipple ## //
// ################# //


.CommercialTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
  }
  .CommercialTouchRipple-ripple {
    opacity: 0;
    position: absolute;
  }
  .CommercialTouchRipple-rippleVisible {
    opacity: 0.3;
    animation: MuiTouchRipple-keyframes-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
  }
  .CommercialTouchRipple-ripplePulsate {
    animation-duration: 200ms;
  }
  .CommercialTouchRipple-child {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    border-radius: 50%;
    background-color: currentColor;
  }
  .CommercialTouchRipple-childLeaving {
    opacity: 0;
    animation: MuiTouchRipple-keyframes-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .CommercialTouchRipple-childPulsate {
    top: 0;
    left: 0;
    position: absolute;
    animation: MuiTouchRipple-keyframes-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
  }
  @-webkit-keyframes MuiTouchRipple-keyframes-enter {
    0% {
      opacity: 0.1;
      transform: scale(0);
    }
    100% {
      opacity: 0.3;
      transform: scale(1);
    }
  }
  @-webkit-keyframes MuiTouchRipple-keyframes-exit {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes MuiTouchRipple-keyframes-pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.92);
    }
    100% {
      transform: scale(1);
    }
  }

  // ################# //
// ## MuiButtonBase ## //
// ################# //


.CommercialButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  .CommercialButtonBase-root::-moz-focus-inner {
    border-style: none;
  }
  .CommercialButtonBase-root.Commercial-disabled {
    cursor: default;
    pointer-events: none;
  }
  @media print {
    .CommercialButtonBase-root {
      -webkit-print-color-adjust: exact;
    }
  }

    // ################# //
// ## MuiIconButton ## //
// ################# //


.CommercialIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
  }
  .CommercialIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .CommercialIconButton-root.Commercial-disabled {
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent;
  }
  @media (hover: none) {
    .CommercialIconButton-root:hover {
      background-color: transparent;
    }
  }
  .CommercialIconButton-edgeStart {
    margin-left: -12px;
  }
  .CommercialIconButton-sizeSmall.CommercialIconButton-edgeStart {
    margin-left: -3px;
  }
  .CommercialIconButton-edgeEnd {
    margin-right: -12px;
  }
  .CommercialIconButton-sizeSmall.CommercialIconButton-edgeEnd {
    margin-right: -3px;
  }
  .CommercialIconButton-colorInherit {
    color: inherit;
  }
  .CommercialIconButton-colorPrimary {
    color: #3f51b5;
  }
  .CommercialIconButton-colorPrimary:hover {
    background-color: rgba(63, 81, 181, 0.04);
  }
  @media (hover: none) {
    .CommercialIconButton-colorPrimary:hover {
      background-color: transparent;
    }
  }
  .CommercialIconButton-colorSecondary {
    color: #f50057;
  }
  .CommercialIconButton-colorSecondary:hover {
    background-color: rgba(245, 0, 87, 0.04);
  }
  @media (hover: none) {
    .CommercialIconButton-colorSecondary:hover {
      background-color: transparent;
    }
  }
  .CommercialIconButton-sizeSmall {
    padding: 3px;
    font-size: 1.125rem;
  }
  .CommercialIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
  }

  


// ################# //
// ## MuiSVGIcon ## //
// ################# //


  
.CommercialSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
  }
  .CommercialSvgIcon-colorPrimary {
    color: #3f51b5;
  }
  .CommercialSvgIcon-colorSecondary {
    color: #f50057;
  }
  .CommercialSvgIcon-colorAction {
    color: rgba(0, 0, 0, 0.54);
  }
  .CommercialSvgIcon-colorError {
    color: #f44336;
  }
  .CommercialSvgIcon-colorDisabled {
    color: rgba(0, 0, 0, 0.26);
  }
  .CommercialSvgIcon-fontSizeInherit {
    font-size: inherit;
  }
  .CommercialSvgIcon-fontSizeSmall {
    font-size: 1.25rem;
  }
  .CommercialSvgIcon-fontSizeLarge {
    font-size: 2.1875rem;
  }

  // ################# //
// ## MuiButton ## //
// ################# //


.CommercialButton-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.74rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Cream-Cake", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
  }
  .CommercialButton-root:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
  }
  .CommercialButton-root.Commercial-disabled {
    color: rgba(0, 0, 0, 0.26);
  }
  @media (hover: none) {
    .CommercialButton-root:hover {
      background-color: transparent;
    }
  }
  .CommercialButton-root:hover.Commercial-disabled {
    background-color: transparent;
  }
  .CommercialButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
  }
  .CommercialButton-text {
    padding: 6px 8px;
  }
  .CommercialButton-textPrimary {
    color: #3f51b5;
  }
  .CommercialButton-textPrimary:hover {
    background-color: rgba(63, 81, 181, 0.04);
  }
  @media (hover: none) {
    .CommercialButton-textPrimary:hover {
      background-color: transparent;
    }
  }
  .CommercialButton-textSecondary {
    color: #f50057;
  }
  .CommercialButton-textSecondary:hover {
    background-color: rgba(245, 0, 87, 0.04);
  }
  @media (hover: none) {
    .CommercialButton-textSecondary:hover {
      background-color: transparent;
    }
  }
  .CommercialButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
  }
  .CommercialButton-outlined.Commercial-disabled {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  .CommercialButton-outlinedPrimary {
    color: #3f51b5;
    border: 1px solid rgba(63, 81, 181, 0.5);
  }
  .CommercialButton-outlinedPrimary:hover {
    border: 1px solid #3f51b5;
    background-color: rgba(63, 81, 181, 0.04);
  }
  @media (hover: none) {
    .CommercialButton-outlinedPrimary:hover {
      background-color: transparent;
    }
  }
  .CommercialButton-outlinedSecondary {
    color: #f50057;
    border: 1px solid rgba(245, 0, 87, 0.5);
  }
  .CommercialButton-outlinedSecondary:hover {
    border: 1px solid #f50057;
    background-color: rgba(245, 0, 87, 0.04);
  }
  .CommercialButton-outlinedSecondary.Commercial-disabled {
    border: 1px solid rgba(0, 0, 0, 0.26);
  }
  @media (hover: none) {
    .CommercialButton-outlinedSecondary:hover {
      background-color: transparent;
    }
  }
  .CommercialButton-contained {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #e0e0e0;
  }
  .CommercialButton-contained:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    background-color: #d5d5d5;
  }
  .CommercialButton-contained.Commercial-focusVisible {
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
  }
  .CommercialButton-contained:active {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
  }
  .CommercialButton-contained.Commercial-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
  }
  @media (hover: none) {
    .CommercialButton-contained:hover {
      box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
      background-color: #e0e0e0;
    }
  }
  .CommercialButton-contained:hover.Commercial-disabled {
    background-color: rgba(0, 0, 0, 0.12);
  }
  .CommercialButton-containedPrimary {
    color: #fff;
    background-color: #3f51b5;
  }
  .CommercialButton-containedPrimary:hover {
    background-color: #303f9f;
  }
  @media (hover: none) {
    .CommercialButton-containedPrimary:hover {
      background-color: #3f51b5;
    }
  }
  .CommercialButton-containedSecondary {
    color: #fff;
    background-color: #f50057;
  }
  .CommercialButton-containedSecondary:hover {
    background-color: #c51162;
  }
  @media (hover: none) {
    .CommercialButton-containedSecondary:hover {
      background-color: #f50057;
    }
  }
  .CommercialButton-disableElevation {
    box-shadow: none;
  }
  .CommercialButton-disableElevation:hover {
    box-shadow: none;
  }
  .CommercialButton-disableElevation.Commercial-focusVisible {
    box-shadow: none;
  }
  .CommercialButton-disableElevation:active {
    box-shadow: none;
  }
  .CommercialButton-disableElevation.Commercial-disabled {
    box-shadow: none;
  }
  .CommercialButton-colorInherit {
    color: inherit;
    border-color: currentColor;
  }
  .CommercialButton-textSizeSmall {
    padding: 4px 5px;
    font-size: 0.8125rem;
  }
  .CommercialButton-textSizeLarge {
    padding: 8px 11px;
    font-size: 0.9375rem;
  }
  .CommercialButton-outlinedSizeSmall {
    padding: 3px 9px;
    font-size: 0.8125rem;
  }
  .CommercialButton-outlinedSizeLarge {
    padding: 7px 21px;
    font-size: 0.9375rem;
  }
  .CommercialButton-containedSizeSmall {
    padding: 4px 10px;
    font-size: 0.8125rem;
  }
  .CommercialButton-containedSizeLarge {
    padding: 8px 22px;
    font-size: 0.9375rem;
  }
  .CommercialButton-fullWidth {
    width: 100%;
  }
  .CommercialButton-startIcon {
    display: inherit;
    margin-left: -4px;
    margin-right: 8px;
  }
  .CommercialButton-startIcon.CommercialButton-iconSizeSmall {
    margin-left: -2px;
  }
  .CommercialButton-endIcon {
    display: inherit;
    margin-left: 8px;
    margin-right: -4px;
  }
  .CommercialButton-endIcon.CommercialButton-iconSizeSmall {
    margin-right: -2px;
  }
  .CommercialButton-iconSizeSmall > *:first-child {
    font-size: 18px;
  }
  .CommercialButton-iconSizeMedium > *:first-child {
    font-size: 20px;
  }
  .CommercialButton-iconSizeLarge > *:first-child {
    font-size: 22px;
  }


  
.makeStyles-button-1 {
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin: .3125rem 1px;
    padding: 12px 30px;
    position: relative;
    font-size: 12px;
    min-width: auto;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    min-height: auto;
    text-align: center;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    will-change: box-shadow, transform;
    touch-action: manipulation;
    border-radius: 3px;
    letter-spacing: 0;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #999999;
  }
  .makeStyles-button-1:hover, .makeStyles-button-1:focus {
    color: #FFFFFF;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
    background-color: #999999;
  }
  .makeStyles-button-1 .fab, .makeStyles-button-1 .fas, .makeStyles-button-1 .far, .makeStyles-button-1 .fal, .makeStyles-button-1 .material-icons {
    top: 0;
    display: inline-block;
    position: relative;
    font-size: 1.1rem;
    margin-right: 4px;
    vertical-align: middle;
  }
  .makeStyles-button-1 svg {
    top: 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    margin-right: 4px;
    vertical-align: middle;
  }
  .makeStyles-button-1.makeStyles-justIcon-22 .fab, .makeStyles-button-1.makeStyles-justIcon-22 .fas, .makeStyles-button-1.makeStyles-justIcon-22 .far, .makeStyles-button-1.makeStyles-justIcon-22 .fal, .makeStyles-button-1.makeStyles-justIcon-22 .material-icons {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 20px;
    transform: none;
    line-height: 41px;
    margin-right: 0px;
  }
  .makeStyles-fullWidth-2 {
    width: 100%;
  }
  .makeStyles-primary-3 {
    box-shadow: 0 2px 2px 0 rgba(156,39,176,0.14), 0 3px 1px -2px rgba(156,39,176,0.2), 0 1px 5px 0 rgba(156,39,176,0.12);
    background-color: #9c27b0;
  }
  .makeStyles-primary-3:hover, .makeStyles-primary-3:focus {
    box-shadow: 0 14px 26px -12px rgba(156,39,176,0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156,39,176,0.2);
    background-color: #9c27b0;
  }
  .makeStyles-info-4 {
    box-shadow: 0 2px 2px 0 rgba(0,172,193,0.14), 0 3px 1px -2px rgba(0,172,193,0.2), 0 1px 5px 0 rgba(0,172,193,0.12);
    background-color: #00acc1;
  }
  .makeStyles-info-4:hover, .makeStyles-info-4:focus {
    box-shadow: 0 14px 26px -12px rgba(0,172,193,0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0,172,193,0.2);
    background-color: #00acc1;
  }
  .makeStyles-success-5 {
    box-shadow: 0 2px 2px 0 rgba(76,175,80,0.14), 0 3px 1px -2px rgba(76,175,80,0.2), 0 1px 5px 0 rgba(76,175,80,0.12);
    background-color: #4caf50;
  }
  .makeStyles-success-5:hover, .makeStyles-success-5:focus {
    box-shadow: 0 14px 26px -12px rgba(76,175,80,0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76,175,80,0.2);
    background-color: #4caf50;
  }
  .makeStyles-warning-6 {
    box-shadow: 0 2px 2px 0 rgba(255,152,0,0.14), 0 3px 1px -2px rgba(255,152,0,0.2), 0 1px 5px 0 rgba(255,152,0,0.12);
    background-color: #ff9800;
  }
  .makeStyles-warning-6:hover, .makeStyles-warning-6:focus {
    box-shadow: 0 14px 26px -12px rgba(255,152,0,0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255,152,0,0.2);
    background-color: #ff9800;
  }
  .makeStyles-danger-7 {
    box-shadow: 0 2px 2px 0 rgba(244,67,54,0.14), 0 3px 1px -2px rgba(244,67,54,0.2), 0 1px 5px 0 rgba(244,67,54,0.12);
    background-color: #f44336;
  }
  .makeStyles-danger-7:hover, .makeStyles-danger-7:focus {
    box-shadow: 0 14px 26px -12px rgba(244,67,54,0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244,67,54,0.2);
    background-color: #f44336;
  }
  .makeStyles-rose-8 {
    box-shadow: 0 2px 2px 0 rgba(156,39,176,0.14), 0 3px 1px -2px rgba(156,39,176,0.2), 0 1px 5px 0 rgba(156,39,176,0.12);
    background-color: #e91e63;
  }
  .makeStyles-rose-8:hover, .makeStyles-rose-8:focus {
    box-shadow: 0 14px 26px -12px rgba(156,39,176,0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156,39,176,0.2);
    background-color: #e91e63;
  }
  .makeStyles-white-9, .makeStyles-white-9:focus, .makeStyles-white-9:hover, .makeStyles-white-9:visited {
    color: #999999;
    background-color: #FFFFFF;
  }
  .makeStyles-twitter-10 {
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
    background-color: #55acee;
  }
  .makeStyles-twitter-10:hover, .makeStyles-twitter-10:focus, .makeStyles-twitter-10:visited {
    color: #fff;
    box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
    background-color: #55acee;
  }
  .makeStyles-facebook-11 {
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
    background-color: #3b5998;
  }
  .makeStyles-facebook-11:hover, .makeStyles-facebook-11:focus {
    color: #fff;
    box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
    background-color: #3b5998;
  }
  .makeStyles-google-12 {
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
    background-color: #dd4b39;
  }
  .makeStyles-google-12:hover, .makeStyles-google-12:focus {
    color: #fff;
    box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
    background-color: #dd4b39;
  }
  .makeStyles-github-13 {
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);
    background-color: #333333;
  }
  .makeStyles-github-13:hover, .makeStyles-github-13:focus {
    color: #fff;
    box-shadow: 0 14px 26px -12px rgba(51, 51, 51, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 51, 51, 0.2);
    background-color: #333333;
  }
  .makeStyles-simple-14, .makeStyles-simple-14:focus, .makeStyles-simple-14:hover, .makeStyles-simple-14:visited {
    color: #FFFFFF;
    background: transparent;
    box-shadow: none;
  }
  .makeStyles-simple-14.makeStyles-github-13, .makeStyles-simple-14.makeStyles-github-13:focus, .makeStyles-simple-14.makeStyles-github-13:hover, .makeStyles-simple-14.makeStyles-github-13:visited {
    color: #333333;
  }
  .makeStyles-simple-14.makeStyles-google-12, .makeStyles-simple-14.makeStyles-google-12:focus, .makeStyles-simple-14.makeStyles-google-12:hover, .makeStyles-simple-14.makeStyles-google-12:visited {
    color: #dd4b39;
  }
  .makeStyles-simple-14.makeStyles-facebook-11, .makeStyles-simple-14.makeStyles-facebook-11:focus, .makeStyles-simple-14.makeStyles-facebook-11:hover, .makeStyles-simple-14.makeStyles-facebook-11:visited {
    color: #3b5998;
  }
  .makeStyles-simple-14.makeStyles-twitter-10, .makeStyles-simple-14.makeStyles-twitter-10:focus, .makeStyles-simple-14.makeStyles-twitter-10:hover, .makeStyles-simple-14.makeStyles-twitter-10:visited {
    color: #55acee;
  }
  .makeStyles-simple-14.makeStyles-danger-7, .makeStyles-simple-14.makeStyles-danger-7:focus, .makeStyles-simple-14.makeStyles-danger-7:hover, .makeStyles-simple-14.makeStyles-danger-7:visited {
    color: #f44336;
  }
  .makeStyles-simple-14.makeStyles-rose-8, .makeStyles-simple-14.makeStyles-rose-8:focus, .makeStyles-simple-14.makeStyles-rose-8:hover, .makeStyles-simple-14.makeStyles-rose-8:visited {
    color: #e91e63;
  }
  .makeStyles-simple-14.makeStyles-warning-6, .makeStyles-simple-14.makeStyles-warning-6:focus, .makeStyles-simple-14.makeStyles-warning-6:hover, .makeStyles-simple-14.makeStyles-warning-6:visited {
    color: #ff9800;
  }
  .makeStyles-simple-14.makeStyles-success-5, .makeStyles-simple-14.makeStyles-success-5:focus, .makeStyles-simple-14.makeStyles-success-5:hover, .makeStyles-simple-14.makeStyles-success-5:visited {
    color: #4caf50;
  }
  .makeStyles-simple-14.makeStyles-info-4, .makeStyles-simple-14.makeStyles-info-4:focus, .makeStyles-simple-14.makeStyles-info-4:hover, .makeStyles-simple-14.makeStyles-info-4:visited {
    color: #00acc1;
  }
  .makeStyles-simple-14.makeStyles-primary-3, .makeStyles-simple-14.makeStyles-primary-3:focus, .makeStyles-simple-14.makeStyles-primary-3:hover, .makeStyles-simple-14.makeStyles-primary-3:visited {
    color: #9c27b0;
  }
  .makeStyles-transparent-15, .makeStyles-transparent-15:focus, .makeStyles-transparent-15:hover, .makeStyles-transparent-15:visited {
    color: inherit;
    background: transparent;
    box-shadow: none;
  }
  .makeStyles-disabled-16 {
    opacity: 0.65;
    pointer-events: none;
  }
  .makeStyles-lg-17 {
    padding: 1.125rem 2.25rem;
    font-size: 0.875rem;
    line-height: 1.333333;
    border-radius: 0.2rem;
  }
  .makeStyles-sm-18 {
    padding: 0.40625rem 1.25rem;
    font-size: 0.6875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .makeStyles-round-19 {
    border-radius: 30px;
  }
  .makeStyles-block-20 {
    width: 100% !important;
  }
  .makeStyles-link-21, .makeStyles-link-21:hover, .makeStyles-link-21:focus {
    color: #999999;
    box-shadow: none;
    background-color: transparent;
  }
  .makeStyles-justIcon-22 {
    width: 41px;
    height: 41px;
    font-size: 20px;
    min-width: 41px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .makeStyles-justIcon-22 .fab, .makeStyles-justIcon-22 .fas, .makeStyles-justIcon-22 .far, .makeStyles-justIcon-22 .fal, .makeStyles-justIcon-22 svg, .makeStyles-justIcon-22 .material-icons {
    margin-right: 0px;
  }
  .makeStyles-justIcon-22.makeStyles-lg-17 {
    width: 57px;
    height: 57px;
    min-width: 57px;
    line-height: 56px;
  }
  .makeStyles-justIcon-22.makeStyles-sm-18 {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }





  .integration_img {
    margin-left: -75px;
  }
  

.v_integration_item {
    background: transparent;
    text-align: center;
    display: block;
    padding: 26px 15px;
    margin: 0px 45px 0 0;
    z-index: 1;
    position: relative;
    width: 16em;
  }


  .i_integration_item {
    background: #fff;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 2px 7px 0px rgba(12, 0, 46, 0.1);
    border-radius: 10px;
    text-align: center;
    display: block;
    padding: 26px 15px;
    margin: 0px 0 0 45px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 1;
    position: relative;
    width: 16em;
  }
  
 
  .s_integration_item {
    background: #fff;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 2px 7px 0px rgba(12, 0, 46, 0.1);
    border-radius: 10px;
    text-align: center;
    display: block;
    padding: 26px 15px;
    margin-bottom: 30px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 1;
    position: relative;
    width: 16em;
  }
  
  .s_integration_item h5 {
    font-size: 1.5rem;
    color: $body-color;
    margin-top: 15px;
    font-weight: inherit;
    font-family: Bison-bold;
    letter-spacing: 0.12rem;
  }
  
  .s_integration_item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-width: 0.2rem;
    border-color: $secondary-color-shadow
  }
  

  .support_integration_area {
    background: #84ac7e;
    padding-top: 120px;
  }

  .seo_call_action_text h2 {
    font-size: 8rem;
    color: $body-color;
    font-weight: 600;
    font-family: Bison-Bold;
    letter-spacing: 0.4rem;
    text-shadow: 4px 2px 3px #e9c261;
}